* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.cs-slip-page-admin {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    overflow: auto; 
    display: grid;
    justify-items: center;
    align-content: start;
}

.csslip-box{
    margin-top: 75px;
    margin-bottom: 80px;
    width: 95%;
    background-color: #fff;
    display: grid;
    justify-items: center;
    align-content: start;
}

h1 {
    font-weight: 700;
    padding: .5vw 3vw;
    width: 100%;
    text-align: left;
    font-size: 28px;
}

.nav-bar {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0C356A;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.rc-logo {
    max-width: 200px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 14px;
    font-weight: 700;
}

.nav-links a:hover {
    color: #d1d1d1;
    border-bottom: 1.5px solid white;
}

.profile {
    max-width: 24px;
}

.cs-slip-container{ 
    border-top: .1vw solid black;
    display: grid;
    justify-items: center;
    align-content: start;
    padding: 20px 3vw;
    width: 100%;
}

.input-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
    gap: 25px;
}

.input-container .field-container label {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #757575;
    margin-bottom: 5px;
}

.field-container {
    display: grid;
    justify-items: flex-start;
    align-content: space-around;
}

.input-container input {
    width: 300px;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #757575;
    height: 35px;
}

.select-field {
    width: 300px;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #757575;
    height: 35px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6"><path d="M0 0l6 6 6-6H0z" fill="%23444444"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    transition: background-color 0.3s;
}

.field-container label{
    font-size: 1vw;
}

input, select:focus{
    outline: none;
}

h2{
    font-weight: 100;
    font-style: italic;
    width: 100%;
    text-align: left;
    font-size: 24px;
}

.cs-slip-table {
    width: 100%;
    margin: 25px 0;
    overflow-x: auto;
    border-collapse: collapse; 
}

.cs-slip-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.cs-slip-table th,
.cs-slip-table td {
    border: 1px solid #e1e1e1;
    padding: 5px 10px;
    font-size: 16px;
    text-align: left;
}

.cs-slip-table tr:hover {
    background-color: #f0f0f0;
}

.cs-slip-table th {
    background-color: #D9D9D9;
}

.bottom-container{
    display: grid;
    justify-items: end;
    align-content: end;
    margin: 10px 0 20px 0;
    width: 100%;
}

.total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.input-hours {
    width: 200px;
    font-size: 12px;
    width: 150px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #757575;
    height: 35px;
}

.create-button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    font-size: 16px;
    background-color: #6BCB77;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: .5vw;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #009713;
}